@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');

:root {

    --light-magenta: rgb(199,146,234);
    --light-orange: rgb(254, 203, 107);
    --light-blue: rgb(129, 169, 254);

    --light-green: rgb(121, 218, 134);
    --paler-blue: rgb(54, 52, 71);
    --navbar-blue: rgb(40,44,53);
    --light-white: rgb(211, 211, 211);
    --light-gray: rgb(136, 142, 152);
    --opaque-black: rgba(0, 0, 0, 0.25);
    --bluish: rgb(0, 85, 255);
    --panel-hover: rgba(0, 0, 0, 0.30);
    --divider-gray: rgb(189,197,211);
}

* {
    font-family: sans-serif;
    color: var(--divider-gray)
}

.stop-scrolling {
    overflow: hidden;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    row-gap: 5px;
    background-color: var(--paler-blue);
    margin-bottom: 80px;
}

/*
@media screen and (max-width: 888px){
    #footer {
        background-color: var(--navbar-blue);
        position: fixed;
        bottom: 0px;
        border-top: 1px solid rgb(62, 68, 82);
    }
    
}
*/

.content {
    grid-row-start: 2;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.panel {
    background-color: var(--opaque-black);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px;
    display: flex;
    grid-row: 1/1;
    grid-column: 1/5;
    flex-direction: row;
    align-items: center;
    background-color: var(--navbar-blue);
    border-bottom: 1px solid rgb(62, 68, 82);
}

.coding-club-logo {
    order: 0;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
}

.hsmc-logo {
    height: 60px;
    padding-right: 20px;
}

.navbar-link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
    padding-left: 10px;
    padding-right: 10px;
}

.chosen-navbar-link {
    text-decoration: underline var(--light-white);
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.navbar-link:hover {
    color: var(--divider-gray)
}

.divider {
    font-size: 18pt;
    color: var(--divider-gray);
    padding: 5px;
}

.split {
    display: flex;
    flex-direction: row;
}

.split>.left {
    order: 0;
    padding: 2px;
    margin-right: 30px;
}

.split>.right {
    order: 1;
    padding: 2px;
    margin-left: 30px;
}

body::-webkit-scrollbar {
    width: 8px;
}
   
body::-webkit-scrollbar-track {
    background-color: rgb(51, 55, 66);
}
   
body::-webkit-scrollbar-thumb {
 background-color: rgba(169, 169, 169, 0.719);
 border-radius: 30px;
}

.person-img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.name {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2px;
}

.years {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    color:var(--light-orange);
}

.extra-pad-sides {
    padding-right: 70px;
    padding-left: 70px;
}

.username {
    margin-top: 3px;
    text-align: center;
    color: var(--light-blue);
}

.horizontal {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.socials {
    margin-top: 20px;
}

.social-item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.social-item:hover {
    color: var(--light-white);
}

#footer {
    background-color: var(--navbar-blue);
    position: fixed;
    bottom: 0px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; /* Need a specific value to work */
    border-top: 1px solid rgb(62, 68, 82);
}

.footer-text {
    margin: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--light-white);
    text-align: center;
    font-size: 12pt;
    padding: 2px;
}

.page-heading {
    color: white;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    grid-row: 2; 
    grid-column: 1/6;
}


.large-panel {
    background-color: var(--opaque-black);
    margin: 10px;
    padding: 20px;
    padding-top: 5px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-panel:hover {
    background-color: var(--panel-hover);
}

.panel:hover {
    background-color: var(--panel-hover);
}

.panel-row {
    display: flex;
    flex-direction: row;
}

a.post-link {
    font-family: "Open Sans", sans-serif;
    color:rgb(212, 207, 207);
    font-weight: bold;
    text-decoration: none;
}

span.code-block {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 5px;
    font-size: 16px;
}

a.post-link:hover {
    font-family: "Open Sans", sans-serif;
    color: var(--light-magenta);
}

.large-panel-img {
    align-self: flex-start;
    margin-top: 20px;
    width: 140px;
    margin-right: 30px;
    border-radius: 40px;
}

.panel-bonus-img {
    margin: 20px;
    height: 250px;
    border-radius: 5%;
    border: 3px solid white;
}

.panel-description {
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    font-size: 21px;
}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.panel-header {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

/* Turns out, this looks better as grey
.date {
    color: var(--light-green);
}
*/

.author {
    color: var(--light-magenta);
}

#mobile-dropdown {
    visibility: collapse;
}


.img-caption {
    margin-top: 0px;
    text-align: center;
    color: var(--light-gray);
    font-size: 14px;

    margin-bottom: 15px;
}

.img-caption > a:hover {
    color: var(--light-magenta);
}


@media screen and (max-width: 968px) {

    .navbar {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hide-on-mobile {
        display: none;
    }

    /* Horizontal becomes vertical lol */
    .horizontal {
        flex-direction: column;
    }

    .navbar-link {
        font-size: 17.5px;
    }

    .coding-club-logo {
        display: none;
    }
    
    .hsmc-logo {
        display: none;
    }

    .large-panel {
        width: 500px;
        padding-top: 30px;
        padding-right: 70px;
        padding-left: 70px;
    }
}